h1 {
    color: violet;
}
p {
    color: deeppink;
}
.content {
    background: yellow;
    margin-top: 10px;
}

#content-1 {
    color: tomato;
}

#content-2 {
    color: darkgrey;
}

h2 {
    color: red;
}

.intro h2 {
    color: blue;
}
/*
Hoặc
.intro .h2-title {
    color: blue;
}
*/