a {
    color: tomato;
    text-decoration: none;
}

a:hover {
    color: greenyellow;
    font-weight: bold;
    display: block;
    width: 50px;
    background: #333333;
}

a:visited {
    color: violet;
}

/*a:link {
    color: blue;
}*/

a:active {
    background: yellowgreen;
}