#box {
    background: tomato;
    width: 200px;
    height: 200px;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

#box:hover {
    /*skew(4deg=4độ) rotate(4deg=4độ hoặc 360deg=1turn) translate(35px) scale(số lần)*/
    /*transform: rotate(90deg);*/
    /*transform: skew(25deg);*/
    /*transform: scale(2);*/
    /*(x, y)*/
    /*transform: translate(25px, 50%);*/
    /*Dịch tâm*/
    /*transform-origin: 100% 100%;*/
}