a {
    text-decoration: none;
    color: forestgreen;
    background: #333333;
    display: block;
    height: 25px;
    line-height: 25px;
    width: 100px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
    color: dodgerblue;
}

a:active {
    color: tomato;
}

a:visited {
    color: violet;
}

/*==TABLE==*/
table {
    border-collapse: collapse;
}
tr, th, td {
    border: 1px solid #ccc;
    padding: 5px;
}

table td:first-child {
    text-align: center;
}

th {
    background: #4caf50;
}

tr:hover {
    background: #f5f5f5;
}

h1, h2, h6 {
    background: orange;
}

span, #a {
    background: forestgreen;
    color: black;
}