#container {
    background: red;
}
#col1 {
    background: yellowgreen;
}
#col2 {
    background: deepskyblue;
}
#col3 {
    background: forestgreen;
}
.col {
    border: 1px solid #333333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
